@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontA: 'Barlow Condensed', sans-serif;
  --fontB: 'Barlow Regular', sans-serif;
  --fontC: 'Bellefair', serif;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #0b0d17;
  color: white;
  text-align: center;
  @media screen(md) {
    text-align: left;
  }
}

.h1 {
  font-family: var(--fontC);
  font-size: 80px;
  text-transform: uppercase;

  @media screen(sm) {
    font-size: 150px;
  }
}

.h2 {
  font-family: var(--fontC);
  font-size: 100px;
  text-transform: uppercase;
}

.h3 {
  font-family: var(--fontC);
  font-size: 56px;
  text-transform: uppercase;
}

.h4 {
  font-family: var(--fontC);
  font-size: 20px;
  text-transform: uppercase;

  @media screen(sm) {
    font-size: 32px;
  }
}

.h5 {
  font-family: var(--fontA);
  font-size: 16px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  color: theme('colors.light-blue');

  @media screen(sm) {
    font-size: 20px;
  }

  @media screen(md) {
    font-size: 28px;
  }
}

.subtitle-1 {
  font-family: var(--fontC);
  font-size: 28px;
  text-transform: uppercase;
}

.subtitle-2 {
  font-family: var(--fontA);
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}

.nav-text {
  font-family: var(--fontA);
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  @media screen(sm) {
    font-size: 14px;
  }
  @media screen(md) {
    font-size: 16px;
  }
}

.p {
  font-family: var(--fontB);
  font-size: 15px;
  line-height: 25px;
  color: theme('colors.light-blue');

  @media screen(sm) {
    font-size: 16px;
    line-height: 28px;
  }

  @media screen(md) {
    font-size: 18px;
    line-height: 32px;
  }
}

.back-filter {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}
