@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontA: 'Barlow Condensed', sans-serif;
  --fontB: 'Bellefair', serif;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #0b0d17;
  color: white;
}

.h1 {
  font-family: var(--fontB);
  font-size: 150px;
  text-transform: uppercase;
}

.h2 {
  font-family: var(--fontB);
  font-size: 100px;
  text-transform: uppercase;
}

.h3 {
  font-family: var(--fontB);
  font-size: 56px;
  text-transform: uppercase;
}

.h4 {
  font-family: var(--fontB);
  font-size: 32px;
  text-transform: uppercase;
}

.h5 {
  font-family: var(--fontA);
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
}

.subtitle-1 {
  font-family: var(--fontB);
  font-size: 28px;
  text-transform: uppercase;
}

.subtitle-2 {
  font-family: var(--fontA);
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}

.nav-text {
  font-family: var(--fontA);
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

p {
  font-family: var(--fontA);
  font-size: 18px;
  line-height: 32px;
}
